<section>
    <div class = "menu-name">
        알립니다
    </div>

    <div class = "notice-content">
        <div class = "title-container">
            <div class = "notice-title">
                이용방법
            </div>
            <div class = "notice-day">
                2021.05.19
            </div>
            <div class = "notice-main">
                메인페이지에서 [지역 선택] 메뉴에 들어가 열람하고자 하는 지역을  선택해 안심식당을 찾아주세요!

            </div>
        </div>
    </div>
    <a href="/noticeInform">
        <button class = "btn">
            목록
        </button>
    </a>
</section>