<!DOCTYPE html>
<html>
<head>
    <title>Yummy Safety</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href ="./stylesheets/application.css">
</head>
<body>
<header>
    <div class="header">
        <a href="/">
            <div class="header-text">
                <div class="header-text1">
                    Yummy Safety
                </div>
                <div class="header-text2">
                    맛있고 <br> 안전하게 먹어요
                </div>
            </div>
        </a>
    </div>
</header>

<nav>
    <div class = "nav">
        <ul>
            <li><a href="/about">안심식당이란?</a></li>
            <li><a href="/selectRegion">지역 선택</a></li>
            <li><a href="/notice">공지사항</a></li>
        </ul>
    </div>
</nav>
<main>
<section>
    <%- body %>

</section>
</main>
<footer>
    <div class= "footer-menu">

    </div>
</footer>
</body>
<script type="text/javascript">
    console.log("HELLO JS!")
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
</html>
