<section>
    <div class = "menu-name">
        공지사항
    </div>
    <div class="sidenav">
        <a href = "/noticeInform">
            <button class="dropdown-btn">
                알립니다
            </button>
        </a>
        <a href = "/noticeCanceled">
            <button class="dropdown-btn">
                취소된 안심식당
            </button>
        </a>
    </div>
</section>