<main>
    <section>
        <div class = "menu-name">
            알립니다
        </div>

        <div id="mainWrapper">

            <ul>

                <!-- 게시판 목록  -->
                <li>
                    <ul id ="ulTable">
                        <li>
                            <ul>
                                <li>제목</li>
                                <li>작성일</li>
                            </ul>
                        </li>
                        <!-- 게시물이 출력될 영역 -->
                        <li>
                            <ul>
                                <li class="left">
                                    <a href="/howToUse">이용방법</a>
                                </li>
                                <li>2021.05.19</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="left">
                                    <a href="/howToInquire">
                                        문의하는 방법</a>
                                </li>
                                <li>2021.05.19</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

</main>