<section>
    <div class="menu-name">
        공지사항
    </div>
    <div class="sidenav">
        <% noticeCategories.forEach((noticeCategory) => { %>
            <a href="/notice?category=<%= noticeCategory.id %>&categoryName=<%= noticeCategory.name %>">
                <button class="dropdown-btn"><%= noticeCategory.name %></button>
            </a>
        <% }); %>
    </div>
</section>
